body {
    overflow-x: hidden;
  }

  .container {
    border: 5px black solid;
    width: 10;
    height: 600px; 
    width: 1000px;
    position: relative;
    opacity:0%;
    overflow-x: hidden;
  }

  .monitor{
    position: absolute;
    border: 1px black solid;
    top: 0px;
    left: 0px;
  }

  #boom{
    width: 100px;
    position: absolute;
    bottom: 11%;
    left: 0px;
  }
  
  #mario {
    width: 100px;
    position: absolute;
    bottom: 65px;
    left: 150px;
  }
  
  #goomba {
    width: 80px;
    position: absolute;
    transform: scaleX(-1);
    bottom: 65px;
    right: -50px;
  }

  #score{
    position: absolute;
font-size: 30px;
    padding: 10px;
    margin: 20px;
    font-family: 'Jua', sans-serif;
  }
  
  #killer {
    position: absolute;
    width: 40px;
    left: 180px;
    bottom: 90px;
    display: none;
    animation: cssload-animate 0.58s linear infinite;

  }
  @keyframes cssload-animate {
    17% {
        transform: translateY(40px) rotate(25.5deg);
      border-bottom-right-radius: 2px;
    }
    20% {
      transform: translateY(30px) rotate(25.5deg);
      border-bottom-right-radius: 4px;
    }
    40% {
        border-bottom-right-radius: 3px;
        transform: translateY(30px) rotate(25.5deg);
    } 
    55% {
      transform: translateY(-1px) rotate(60deg);
    }
    120% {
      transform: translateY(0) rotate(90deg);
    }
  }

  .background {
    position: absolute;
    background-image: url('../assets/gamebg.png');
    width: 300%;
    height: 600px;
    animation: slide 3s linear infinite;
  }
  
  @keyframes slide {
    from {
      left: 0px;
    }
  
    to { 
      left: -122%;
    }
  }